<canvas #canvas style="top:0px;left:0px;position:absolute" width="1024" height="768"></canvas>
<div id="step-canvas">
  <div *ngFor="let step of transformation.steps" class="step-small pos-a" style="width:150px;padding:10px" [style.background-color]="step.color" [style.top.px]="step.y" [style.left.px]="step.x" (click)="edit(step)">
    <!--<img src="{{step.icon}}"/>-->
    <div style="width:120px;text-overflow: ellipsis;overflow:hidden;white-space: nowrap" class="c-w f-l">{{step.model.name}}</div>
    <div class="delete" (click)="delete(step)" class="f-r c-w">X</div>
  </div>
</div>
<div style="clear:both"></div>