<div class="container-fluid">
  <div class="row" style="padding: 10px 0px;background-color:#f7f7f7">
    <div class="col-md-8">
      <h3 class="p-0 m-0">{{transformation.model.info.name}}</h3>
    </div>
    <div class="col-md-4">
      <button (click)="run()" class="btn btn-primary" [disabled]="transformation.dirty">Run</button>
      <button (click)="generate()" class="btn btn-primary">Save</button>
    </div>
  </div>
  <div class="row" style="padding-top:20px;">
    <div class="col-md-12">
      <div *ngFor="let step of transformation.steps" class="step-small" [style.background-color]="step.color" (click)="edit(step)">
        <img src="{{step.icon}}"/>
        <div class="label">{{step.model.name}}</div>
        <div class="delete" (click)="delete(step)"><img src="/app/delete.svg"/></div>
      </div>
      <div style="clear:both"></div>
      <div style="margin-top:10px">
        <table class="table">
          <tr>
            <th *ngFor="let fieldName of result.fieldNames">{{fieldName}}</th>
          </tr>
          <tr *ngFor="let row of result.data">
            <td *ngFor="let field of row">{{field}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="pos-a b-0 w-100p">
  <step-panel (onSelect)="onSelect($event)"></step-panel>
</div>
<step-dialog *ngIf="transformation.editing" [currentStep]="currentStep" [transformation]="transformation"></step-dialog>