<div>
  <div class="choose-header">
   <img class="splash" src="../images/splash.png"/>
   <img class="welcome-ben" src="../images/welcome-ben.png" />
  </div>

  <div class="choose-choice-container">
    <div class="choose-btn">
      <img src="../images/open.png" class="open-img"/>
      <div class="choose-btn-txt">Open</div>
    </div>
    <div class="choose-btn">
      <img src="../images/create.png" class="create-img"/>
      <div class="choose-btn-txt">Create</div>
    </div>
    <div class="choose-btn">
      <img src="../images/learn.png" class="learn-img"/>
      <div class="choose-btn-txt">Learn</div>
    </div>
    <div class="choose-btn">
      <img src="../images/extend.png" class="extend-img"/>
      <div class="choose-btn-txt">Extend</div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-4">Open File</div>
    <div class="col-md-4">Create Job</div>
    <div class="col-md-4"><a routerLink="/name" routerLinkActive="active">Create Transformation</a></div>
  </div> -->
</div>
