<div class="login-bg">
  <div class="login">
    <div class="login-logo-container">
      <img src="../images/pentaho-logo.png">
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="c-w" for="usernameImput">User Name:</label>
        <input type="text" class="login-entry" id="usernameInput" placeholder="Username" #username>
      </div>
      <div class="form-group">
        <label class="c-w" for="passwordInput">Password:</label>
        <input type="password" class="login-entry" id="passwordInput" placeholder="Password">
      </div>
      <button type="submit" class="login-btn">Login</button>
    </form>
  </div>
</div>