<div class="container-fluid">
  <div class="panel panel-default m-a w-250 p-25">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="usernameImput">Username</label>
        <input type="text" class="form-control" id="usernameInput" placeholder="Username" #username>
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" class="form-control" id="passwordInput" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>