/* Master Styles */
body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
}

.step {
  cursor: pointer;
  padding: 5px;
  float: left;
}

.step>div.label {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}

.step-small {
  padding: 0px 5px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  float: left;
}

.step-small>img {
  float: left;
}

.step-small>div.label {
  float: left;
  line-height: 40px;
}

.step-small>div.delete {
  width: 16px;
  height: 16px;
  float: left;
  line-height: 40px;
}

.login-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #005DA6;
  background-image: url(images/login_background.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

.login {
  margin: auto;
  height: 500px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.login-entry {
  background-color: #FAFFBD;
  height: 34px;
  padding: 8px 12px;
  font-size: 14px;
  color: #000;
  border-radius: 4px;
  border: none;
  width: 100%;
  line-height: 21px;
}

.login-btn {
  margin-top: 5px;
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 8px 12px;
  line-height: 21px;
  color: #FFF;
  background-color: #0F2B5B;
}

.login-logo-container {
  width: 250px;
  height: 65px;
  margin-bottom: 25px;
}

.login-logo-container img {
  height: auto;
  width: 100%;
}

.c-p {
  cursor: pointer;
}

.m-0 {
  margin: 0;
}

.bc-w {
  background-color: #ffffff;
}

.bc-g {
  background-color: #c5c5c5;
}

.bc-db {
  background-color: #005DA6;
}

.m-a {
  margin: auto;
}

.w-100p {
  width: 100%;
}

.w-250 {
  width: 250px;
}

.p-0 {
  padding: 0;
}

.p-25 {
  padding: 25px
}

.pos-a {
  position: absolute;
}

.pos-r {
  position: relative;
}

.b-0 {
  bottom: 0;
}

.t-0 {
  top: 0px;
}

.l-0 {
  left: 0px;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.c-w {
  color: #ffffff;
}

.d-ib {
  display: inline-block;
}

.ws-nw {
  white-space: nowrap;
}

.o-h {
  overflow: hidden;
}

.lh-60 {
  line-height: 60px;
}

.fs-20 {
  font-size: 20px;
}

.ofx-a {
  overflow-x: auto;
}

.header {
  width: 100%;
  height: 55px;
  background-color: #005F97;
  border: none;
}

.choose-choice-container {
  width: 820px;
  height: 300px;
  margin: auto;
  margin-top: 180px;
  display: inline-flex;
  position: absolute;
  left: 0;
  right: 0;
}

.choose-btn {
  height: 200px;
  width: 215px;
  padding: 10px 15px;
  background-color: #005F97;
  border-radius: 10px;
  border: none;
  position: relative;
}

.choose-btn:not(:first-child) {
  margin-left: 30px;
}

.choose-btn img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.open-img {
  top: 45px;
  width: 80px;
}

.create-img,
.learn-img,
.extend-img {
  top: 40px;
  height: 70px;
}

.choose-btn-txt {
  color: white;
  font-size: 30px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 135px;
  text-align: center;
}

.name-trans {
  color: #005DA6;
  font-size: 44px;
  text-align: center;
  margin-top: 150px;
}

.name-trans-close {
  float: right;
  margin-right: 35px;
  margin-top: 20px;
}

.name-trans-close img {
  cursor: pointer;
}

.name-trans-entry {
  text-align: center;
  width: 100%;
}

.name-trans-input-div {
  margin-top: 40px;
}

.name-trans-input {
  width: 400px;
  height: 37px;
  border: 1px solid #D0CDC7;
  border-radius: 4px;
  outline: none;
  padding: 0 10px;
}

.name-trans-btn {
  padding: 8px 25px;
  background-color: #005E9F;
  color: #FFF;
  border-radius: 4px;
  margin-left: 276px;
  margin-top: 15px;
  border: none;
  outline: none;
}

.main-header {
  width: 100%;
  padding: 20px 40px;
}

.main-trans-name {
  float: left;
  font-size: 28px;
  color: #005DA6;
}

.main-options {
  float: right;
}

.main-middle-options {
  margin-top: 3px;
  margin-left: 4px;
}

input.main-search {
  padding: 6px 12px 6px 35px;
  width: 300px;
  background-image: url('../images/search.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px 30px;
}

.thecategories {
  padding: 15px 15px 25px 25px;
}

.category-top {
  width: 126px;
  height: 105px;
  border: none;
  outline: none;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.category-bottom {
  width: 126px;
  height: 35px;
  border: none;
  outline: none;
  margin-left: 15px;
}

.cat-name {
  text-align: center;
  padding-top: 5px;
  font-size: 18px;
}

.input-top {
  background-color: #00BCF1;
  background-image: url('../images/input.png');
}

.output-top {
  background-color: #00639B;
  background-image: url('../images/output.png');
}

.transform-top {
  background-color: #B776C2;
  background-image: url('../images/transform.png');
}

.utility-top {
  background-color: #FBAD00;
  background-image: url('../images/utility.png');
}

.flow-top {
  background-color: #30B7B7;
  background-image: url('../images/flow.png');
}

.scripting-top {
  background-color: #FB0047;
  background-image: url('../images/scripting.png');
}

.server-top {
  background-color: #006961;
  background-image: url('../images/server.png');
}

.lookup-top {
  background-color: #6F270B;
  background-image: url('../images/lookup.png');
}

.joins-top {
  background-color: #59805A;
  background-image: url('../images/joins.png');
}

.data-top {
  background-color: #DD4309;
  background-image: url('../images/data.png');
}

.input-bottom {
  background-color: #0096BD;
}

.output-bottom {
  background-color: #004C75;
}

.transform-bottom {
  background-color: #87439D;
}

.utility-bottom {
  background-color: #DA9200;
}

.flow-bottom {
  background-color: #009A9A;
}

.scripting-bottom {
  background-color: #BA0035;
}

.server-bottom {
  background-color: #004B47;
}

.lookup-bottom {
  background-color: #441F09;
}

.joins-bottom {
  background-color: #476448;
}

.data-bottom {
  background-color: #B7370C;
}

.splash {
  height: 52px;
  width: 52px;
  top: 0;
  left: 0;
  position: absolute;
}

.welcome-ben {
  right: 10px;
  position: absolute;
}
