/* Master Styles */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.step {
  cursor: pointer;
  padding: 5px;
  float: left;
}

.step>div.label {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}

.step-small {
  padding: 0px 5px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  float: left;
}

.step-small>img {
  float: left;
}

.step-small>div.label {
  float: left;
  line-height: 40px;
}

.step-small>div.delete {
  width: 16px;
  height: 16px;
  float: left;
  line-height: 40px;
}

.m-0 {
  margin: 0;
}

.bc-w {
  background-color: #ffffff;
}

.m-a {
  margin: auto;
}

.w-100p {
  width: 100%;
}

.w-250 {
  width: 250px !important;
}

.p-0 {
  padding: 0;
}

.p-25 {
  padding: 25px
}

.pos-a {
  position: absolute;
}

.b-0 {
  bottom: 0;
}

.t-0 {
  top: 0px;
}

.l-0 {
  left: 0px;
}